:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --header-underline-color: #ececec;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hero-bg-color: #2f303a;
  --address-text-color: rgba(255, 255, 255, 0.6);
}

body {
  width: 1600px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px solid tomato;
}

/* Шапка */

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo-studio-black {
  color: var(--logo-black-color);
}

.nav .list {
  display: flex;
}

.nav .item + .item {
  margin-left: 50px;
}

.nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.info {
  display: flex;
  margin-left: auto;
}

.info .item + .item {
  margin-left: 40px;
}

.info .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.nav .link.current {
  color: var(--accent-color);
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.info .link:hover,
.info .link:focus {
  color: var(--accent-color);
}

.header-underline {
  width: 1600px;
  height: 1px;
  background-color: var(--header-underline-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background-color: var(--hero-bg-color);
  text-align: center;
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30;
  color: var(--primary-bg-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.hero-button:hover {
  color: var(--hero-bg-color);
  cursor: pointer;
}

/* Особливості */

.features .list {
  display: flex;
}

.features .item {
  width: 270px;
}

.features .title {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.features .text {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* Чим ми займаємося */

img {
  display: block;
}

.examples .title,
.team .title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
}

/* Наша команда */

.team {
  background-color: var(--secondary-bg-color);
}

.team .card-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

.team .card-text {
  margin: 0;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

/* Портфоліо */

.portfolio .filter {
  display: flex;
  margin-bottom: 50px;
}

.portfolio .list-button {
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  font-family: inherit;
  cursor: pointer;
}

.portfolio .list-button:hover,
.portfolio .list-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.portfolio .works {
  display: flex;
  flex-wrap: wrap;
}

.works .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works .item:nth-child(3n) {
  margin-right: 0;
}

.works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio .link {
  text-decoration: none;
}

.works .card {
  padding: 20px 24px;
}

.portfolio .card-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio .card-text {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

/* Підвал */

footer {
  background-color: var(--hero-bg-color);
}

.logo-studio-white {
  color: var(--primary-bg-color);
}

address {
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

address .link {
  color: var(--address-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
}

address .link:hover,
address .link:focus {
  color: var(--accent-color);
}
